.login {
  background-color: #a2c5d3;
  color: #686666;
  padding: 100px 300px;
  text-align: start;
  margin: 100px;
}

@media (max-width: 1100px) {
  .login {
    padding: 100px 100px;
  }
}

@media (max-width: 640px) {
  .login {
    margin-top: 200px;
    padding: 50px;
  }
  h1, h2 {
    text-align: center;
  }
}

.login-header {
  text-align: center;
  font-style: italic;
}

.social-icon {
  margin: 0px 10px;
}

.register-link {
  color: #0d6efd;
  cursor: pointer;
  margin-left: 5px;
}

.redirect-register {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
