.register {
  background-color: #a2c5d3;
  color: #686666;
  padding: 20px;
  text-align: start;
  margin: 100px;
}

.register h2 {
  margin: 20px 0px;
}

.register-header {
  text-align: center;
  font-style: italic;
}

@media (max-width: 768px) {
  .register {
    margin: 200px;
  }
  h1, h2 {
    text-align: center;
  }
}

.bio {
  margin-top: 20px;
}
