.reset-text {
    color: #686666;
    text-align: center;
}

.reset-wrapper {
    margin-top: 50px;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.failure {
    color: #dc3545;
    text-align: center;;
}