.user-card {
  width: 300px;
  display: grid;
  grid-template-rows: auto auto;
}

#grid-pfp {
  width: 90%;
  height: 90%;
  margin: auto;
  color: white;
}

.card-pfp {
  border-radius: 50%;
  width: 175px;
  height: 175px;
  margin: 30px auto;
}
