.user-card {
  width: 300px;
  min-width: 300px;
  cursor: pointer;
}

#grid-pfp {
  width: 90%;
  height: 90%;
  margin: auto;
  color: white;
}

.card-pfp {
  border-radius: 50%;
  width: 175px;
  height: 175px;
  margin: 30px auto;
}

.fade-heart {
  animation: fadeout 0.5s linear forwards;
  opacity: 0;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hidden-heart {
  color: #d4c0d5;
  position: absolute;
  bottom: 15px;
  left: 15px;
  transform: scale(1.3);
  visibility: hidden;
}
