.card {
  background-color: #80abbd;
  padding: 20px;
  padding-bottom: 0px;
  border-radius: 10px;
  text-align: center;
  border: none;
  text-decoration: none;
  box-shadow: rgba(99, 99, 99, 0.4) 0px 0px 10px 5px;
}

.text-info {
  border-top: 1px;
  margin-top: 10px;
  display: grid;
  font-size: 20px;
  margin-bottom: 10px;
}

.text-info > span {
  line-height: 150%;
  margin-top: 5px;
  color: white;
}

.bold-text {
  font-weight: bold;
  font-size: 30px;
  line-height: 10px;
  margin-bottom: 10px;
}

.heart {
  position: absolute;
  bottom: 15px;
  left: 15px;
  transform: scale(1.3);
}

.heart:hover {
  color: #d4c0d5;
}
