.not-authorized {
  text-align: center;
  margin-top: 200px;
  padding: 10px;
  color: #80abbd;
}

.unauthorized-page {
  text-align: center;
}

.unauthorized-page > .redirect {
  margin: 40px;
  background-color: #80abbd;
  border: none;
}

.unauthorized-page > .redirect:hover {
  margin: 40px;
  background-color: #639fb8;
  border: none;
}
