#user-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  place-items: center;
  margin: 40px;
  margin-top: 100px;
}

@media (max-width: 640px) {
  #user-grid {
    margin-top: 180px;
  }
}
